@using Tapas.Common
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Author: Plamen Rusanov, Category: Food delivery,">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <meta name="google-site-verification" content="oPJMZCLuV17zESK4TweYBji8-ODVrEV-TZE-NSh_J_M" />
    <environment names="Development">
        <link href="~/css/shared/site.css" rel="stylesheet" asp-append-version="true" />

    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/shared/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    @this.RenderSection("Style", required: false)
</head>
<body id="body">
    <nav class="navbar navbar-expand-md box-shadow">
        <a class="navbar-brand brand-logo" asp-area="" asp-controller="Home" asp-action="Index"></a>
        <a class="mobile" asp-area="Administration" asp-controller="Products" asp-action="Index"><img class="menuMobile" src="/menu.png" width="40" height="40" /></a>       
        <a class="mobile" asp-area="" asp-controller="ShoppingCart" asp-action="Index" style="font-size:40px;margin-left:3px;">🛒<span class="bad bad-dropdown"></span></a>
        <a class="mobile" href="tel:+359885565621"><img class="phone-logo" src="~/Images/phone-logo-CA0ABEDEEB-seeklogo.com (1).png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <img class="list" src="~/list.jpg" width="40" height="40" />
        </button>
        <ul class="navbar-collapse collapse d-md-inline-flex bg-white">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Products" asp-action="Index">Меню</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="CateringFood" asp-action="Index">Кетъринг</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Orders/UserOrders">Моите поръчки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index" style="font-size: 35px;padding:0 15px">🛒<span class="bad"></span></a>
            </li>
        </ul>
        <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse bg-white">
            <partial name="_LoginPartial" />
        </div>

    </nav>

    <main role="main" id="main-transperant">
        @if (GlobalConstants.TimeNow > GlobalConstants.CloseTime || GlobalConstants.TimeNow < GlobalConstants.OpenTime)
            {
                if (GlobalConstants.TimeNow > GlobalConstants.CloseTime)
                {
        <div id="alert" class="alert alert-danger " role="alert">
            <div id="closed">Затворено. Ще приемаме поръчки отново утре в @GlobalConstants.OpenTime.ToString("hh':'mm") часа.</div>
        </div>
                }
                else
                {
        <div id="alert" class="alert alert-danger " role="alert">
            <div id="closed">Затворено. Ще приемаме поръчки отново в @GlobalConstants.OpenTime.ToString("hh':'mm") часа.</div>
        </div>
                }

            }
            else if (GlobalConstants.TimeNow < GlobalConstants.CloseTime && GlobalConstants.TimeNow > GlobalConstants.LastOrderTime)
            {
        <div id="alert" class="alert alert-warning " role="alert">
            <div id="closed">Последни поръчки. Затваряме в @GlobalConstants.CloseTime.ToString("hh':'mm") часа.</div>
        </div>
            }
        <partial name="_CookieConsentPartial" />
        @this.RenderBody()
        <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa fa-chevron-up c-mocca" aria-hidden="true"></i></button>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
        </div>
    </footer>
    <environment names="Development">
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
        <script src="https://kit.fontawesome.com/dcaf786647.js" crossorigin="anonymous" SameSite="none Secure"></script>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/shared/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        @*<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/shared/site.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
