@model Tapas.Web.ViewModels.Administration.Products.ProductsIndexViewModel
@using Tapas.Common

<div class="container">

    <div class="row">

        <div class="col-lg-3 pt-2">
            @*<div class="mt-3 mb-3" style="width:inherit"><img src="~/Images/tapasLogo.png" style="width:inherit" alt="Logo" /></div>*@
            <div class="list-group">
                @foreach (var item in Model.Categories)
                {
                    if (this.ViewData["Title"].ToString() == item.Name)
                    {
                        <a asp-area="@GlobalConstants.AreaAdmin" asp-controller="Products" asp-action="GetProductsByCategory" asp-route-categoryId="@item.Id" class="btn btn-default bg-light mt-1"><h3 style="color:#007BFF">@item.Name</h3></a>
                        continue;
                    }
                    <a asp-area="@GlobalConstants.AreaAdmin" asp-controller="Products" asp-action="GetProductsByCategory" asp-route-categoryId="@item.Id" class="btn btn-default bg-light mt-1"><h3>@item.Name</h3></a>
                }
            </div>

        </div>

        <div class="col-lg-9">
            <div class="row table-food" style="margin:0;">
                <img class="responsive" src="~/Images/tapas-masa s hrana.jpg" height="350" alt="Маса с храна">
            </div>
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <a class="carda btn col-lg-4 col-md-6 mb-4" href="~/ShopingCart/AddItem?productId=@product.Id">
                        <div class="card h-100">
                            <img class="card-img-top" src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_140,w_200/v1587540778/@(product.ImageUrl)" alt="@product.Name">
                            <div class="card-body">
                                <h4 class="name-holder text-center"> @product.Name </h4>
                                @if (product.IsOneSize)
                                {
                                    <div class="h6">@product.Weight гр.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@product.Price лв.</div>
                                }
                                else
                                {
                                    foreach (var size in product.Sizes)
                                    {
                                        <div class="h6">@size.SizeName - @size.Price лв.</div>
                                    }
                                }
                            </div>
                            <div class="card-footer text-center">
                                <div>
                                    @for (int i = 1; i < 6; i++)
                                    {
                                        if (i <= product.Rating)
                                        {
                                            <div class="checked-star"></div>
                                        }
                                        else
                                        {
                                            <div class="unchecked-star"></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</div>
@section Style{
    <link href="~/css/menuProducts/index.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/shared/site.js" asp-append-version="true"></script>
}


