@model List<Tapas.Web.ViewModels.Orders.OrderCollectionViewModel>
@{
    ViewData["Title"] = "Всички поръчки";
}

<h1 class="text-center">Всички поръчки</h1>
<style>
    .clickable-row:hover{
        cursor:pointer;
        background-color:lightblue;
    }
</style>
<hr class="hr-tapas" />
<div class="container bg-light">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-sm-1">
                    @Html.Label("Номер")
                </th>
                <th class="col-sm-3">
                    @Html.Label("Клиент")
                </th>
                <th class="col-sm-2">
                    @Html.Label("Поръчана")
                </th>
                <th class="col-sm-2">
                    @Html.Label("Статус")
                </th>
                <th class="col-sm-1">
                    @Html.Label("Рейтинг")
                </th>
                <th class="col-sm-3">
                    @Html.Label("Коментар")
                </th>
            </tr>
        </thead>
        <tbody id="bodyTable">
            @foreach (var item in Model)
            {
                <tr class="row clickable-row" onclick="window.location='/Orders/OrdersByUser?userName=@item.UserName'">
                    <td class="col-sm-1">
                        @Html.DisplayFor(x => item.Id)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(x => item.UserName)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(x => item.DateTime)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(x => item.Status)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(x => item.Rating)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(x => item.Comment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/js/orders/infinityScroll.js"></script>
    <script>
        var infinityScroll = new InfinitiySroll("bodyTable", "/Orders/LoadOrders", { skip: `${document.getElementById('bodyTable').childElementCount}` });

    </script>
}